    body {
        background-color:lightgray;
    }

    footer {
        background-color: darkgreen;
    }

    img{
        width: 100px;
        height: 100px;
        object-fit:cover;
    }

    head, nav, footer, li a {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }    
  
      li {
        float: right;
      }
      
      li a {
        display: block;
        padding: 8px;
        color: blue;
      }


      h1{
        text-align: center; color:darkgreen;
        border: solid 1px darkgreen;
        border-width: 2px;
        margin: .5em 15em .5em 15em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:bold;
        }